*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    background:rgb(17, 19, 20);
    
  }
  
  .container{
   width: 90%; 
   max-width: 1500px;
   background:rgb(17, 19, 20);
   margin: 0px auto;
  }
  
  
  .page-header{
    background-color: rgb(13, 15, 15); 
    border-bottom: 1px solid rgba(212, 209, 205, 0.1);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
  }
  
  
  .page-header ul{
    color: rgb(159,196,232);
    font-size: 15px;
    font-family: "Rubik",Helvetica,sans-serif;
    display:flex;
    justify-content: center;
    list-style-type:none;
    
    }
  
  .page-header ul li a {
        text-decoration: none;   
        /*display: inline-block;*/
        padding:15px 20px;
        
       }
    li a:hover {    
    text-decoration: underline;
      }      
  
  h2{
        color: rgb(159, 196, 232);    
    }
  
  
  .container .hero-image img{
    vertical-align: top; 
    width: 100%;
  }
  .hero-image{
   
    width: 70%;
    background-color: rgb(17, 19, 19);
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .hero-text{
    background-color:rgb(17, 19, 20);
    box-shadow: rgba(0,0,0,0.1) 0px 5px 20px ; 
    position: absolute;
    left: 900px;
    top: 50%;
    box-sizing: border-box;
    transform: translate(0, -100%);
    width: 540px;
    padding: 40px;
  }
  
  .page-title{
    color: rgb(67, 124, 180);
    font-size:40px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 120%;
    font-family: "Rubik",Helvetica,sans-serif;
  }
  
  .page-intro{
    color: rgb(159,151,138);
    font-size: 18px;
    font-family: "Rubik",Helvetica,sans-serif;
    line-height: 140%;
    }
  
  
  /*------------------------------------------------*/
    .main{
      background:rgb(17, 19, 20);
      color: rgb(159,151,138);
      padding: 20px;
      width: 60%;
      float: left;
      font-size: 1.0em;
      font-family: "Rubik",Helvetica,sans-serif;
      text-align: left;
      line-height: 140%;
    
  }
  /*-------------------------------------------------*/
    aside{
      background-color: #004daa;
      color: rgb(159,151,138);
      margin-top: 10px;
      margin-bottom:20px ;
      padding: 80px;
      width: 30%;
      height: 220px;
      float: right;
      font-family: "Rubik",Helvetica,sans-serif;
      transform: translate(-5%, 0);   
      
    }
  
  /*-------------------------------------------------*/
  footer{
        background:rgb(67, 84, 113); 
        padding: 60px;
        color:rgb(232, 230, 227);
        font-family: "Rubik",Helvetica,sans-serif;
        clear: both;
    }
  
  #section-footer{
      display: flex;
      flex-wrap:wrap;
      
  }
  #section-footer > div{
    
      background-color:rgb(67, 84, 113);
      font-size: 15px;
      line-height: 2;
      margin: 20px;
      padding: 30px;
      width:250px;
      text-align: left;   
  }
  #section-footer ul{
    list-style-type:none;
  }
  
  #section-footer h4{
    text-transform: uppercase;
  }
  
  #section-footer a{
    text-decoration: none; 
    color:rgb(232, 230, 227);
  }
  /*-------------------------------------------------*/