:root {
    --background-color: #fff;
    --color-link-hover: yellow;
    --color-button: #3689ff;
    --color-button-hover: hsl(215, 100%, 40%);
    --color-main: #5c656d;
    --color-footer: #54698d;
    --color-icon-hover: #8d7854;

    --main-font: "Rubik", sans-serif;
    --logo-font: "Outfit", sans-serif;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    /*set default beheavior for document*/
    box-sizing: border-box;
}

body {
    /*set default beheavior for document*/
    margin: 0;
}

h1 {
    /* set default beheavior for title*/
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

nav ul,
footer ul {
    /*set default beheavior for links list*/
    list-style: none;
    margin: 0;
    padding: 0;
}

/* -----------------------
 layout and functionality styles start here
 ------------------------ */

h1 {
    padding: 0.5em 0 0.5em 1rem;
}

header {
    position: fixed; /*keep navbar on top of page*/
    z-index: 999; /*move in front of all other elements*/
    width: 100%; /*use all viewport width*/
}

.nav-toggle {
    display: none; /*hide toggle input*/
}

.nav-toggle:checked ~ .nav-toggle-label span {
    transform: rotate(
        45deg
    ); /*transformation to create an X from the hamburger*/
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
    transform: rotate(
        -90deg
    ); /*transformation to create an X from the hamburger*/
    top: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
    opacity: 0; /*transformation to create an X from the hamburger*/
}

.nav-toggle:checked ~ nav {
    /*search for preceeding nav-toggle siblings*/
    transform: scale(1, 1); /*display nav container when checked*/
}

.nav-toggle:checked ~ nav ul {
    opacity: 1; /*show links animated*/
    /* transition: opacity 150ms ease-in-out 350ms; */
}

.nav-toggle-label {
    position: absolute; /*fixed position of toggle on parent (header)*/
    top: 0;
    right: 1rem; /*give some space from the border*/
    height: 100%; /*use all vertical space available on header (non counting ul height becouse is removed from document)*/
    display: flex; /*convert into flex for be able to use align property*/
    align-items: center; /*center vertically all childrens (in this case only 1)*/
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    /*creates a horizontal line for hamburger menu*/
    display: block;
    background: var(--color-main);
    width: 2em;
    height: 0.2em;
    border-radius: 0.2em;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    /*creates a copy of content of span*/
    content: "";
    position: absolute;
}

.nav-toggle-label span::before {
    /*move upper line to the top*/
    bottom: 0.5em;
}
.nav-toggle-label span::after {
    /*move lower line to the bottom*/
    top: 0.5em;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%; /*move list to end of h1*/
    left: 0; /*move list to edge of screen*/
    width: 100%;
    transform: scale(1, 0);
    /*hide nav container, will be displayed when checkbox is checked*/
    transform-origin: top;
    /* transition: transform 500ms ease-in-out;*/ /* show nav from the top animation */
}

nav ul {
    margin-bottom: 2.5em;
    opacity: 0; /*hide nav links animation*/
    /* transition: opacity 150ms ease-in-out; */
    display: flex;
    gap: 1em;
    justify-content: center;
}

.links-sign a {
    padding: 0.5rem 1.5rem;
}

main {
    height: 50vh;
    background-color: violet;
}

footer {
    width: 100%;
}

.footer-container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex: 1 1 0px;
    justify-content: space-evenly;
    gap: 1.5em;
}

footer h2 {
    min-width: max-content;
}

footer li {
    min-width: max-content;
    padding-bottom: 0.75rem;
}

footer h2 ~ * {
    padding-top: 1rem;
}

/* -----------------------
font styles start here 
----------------------- */

body {
    color: var(--color-main);
    font-family: var(--main-font);
}

h1 {
    font-family: var(--logo-font);
}

nav a,
footer a {
    font-size: 1rem;
}

nav a:hover {
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

footer br {
    content: "" !important;
    display: block !important;
    margin-bottom: 1.5em !important;
}

.social-link {
    font-size: 2rem;
    padding-right: 1rem;
}

small {
    font-size: inherit;
}

/* -----------------------
decoration styles start here 
----------------------- */

header {
    background: var(--background-color);
}

h1 a:hover {
    color: var(--color-button);
}

nav {
    background: var(--background-color);
}

.links-sign a {
    border-radius: 1.5rem;
    text-transform: uppercase;
}

#login {
    color: var(--color-button);
    background: white;
    border: 2px solid var(--color-button);
}

#signup {
    background: var(--color-button);
    color: white;
}

#login:hover {
    color: var(--color-button-hover);
    border-color: var(--color-button-hover);
}

#signup:hover {
    background: var(--color-button-hover);
}

footer {
    background: var(--color-footer);
    color: white;
}

.social-link:hover {
    color: var(--color-icon-hover);
}

/* -----------------------
media queries styles start here 
----------------------- */

@media (min-width: 1020px) {
    .container-header {
        display: flex;
    }

    h1 {
        min-width: max-content;
    }

    nav {
        transform: scale(1, 1);
        /* transition: transform 1ms linear; */
        position: unset;
        width: 100%;
        display: flex;
        align-items: center;
    }

    nav ul {
        margin: 0;
        opacity: 1;
        /* transition: opacity 1ms linear; */
    }

    .nav-toggle-label {
        display: none;
    }

    .links-navigation {
        margin-left: auto;
    }

    .links-sign {
        margin-left: auto;
        margin-right: 1rem;
    }

    .footer-container {
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {
    .links-navigation {
        flex-direction: column;
        text-align: center;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    footer ul {
        display: flex;
        justify-content: center;
        column-gap: 1rem;
    }
    footer h2 ~ * {
        padding-top: 0rem;
    }
    .social-link {
        padding-right: 0 1rem;
    }
}
